<?xml version="1.0"?>
<!--
  ~ Copyright © Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <emspay_general>
                <version>v1.0.5</version>
                <active>0</active>
                <enabled>0</enabled>
                <type>test</type>
                <payment_images>1</payment_images>
                <debug>1</debug>
                <apikey backend_model="Magento\Config\Model\Config\Backend\Encrypted"></apikey>
                <model>EMSPay\Payment\Model\Methods\General</model>
                <observer>1</observer>
            </emspay_general>
            <emspay_methods_banktransfer>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Banktransfer</model>
                <title>Banktransfer</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
                <account_details>
                    <iban>NL79ABNA0842577610</iban>
                    <bic>ABNANL2A</bic>
                    <holder>THIRD PARTY FUNDS EMS</holder>
                    <city>Amsterdam, NL</city>
                </account_details>
            </emspay_methods_banktransfer>
            <emspay_methods_creditcard>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Creditcard</model>
                <title>Credit Cards</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_creditcard>
            <emspay_methods_applepay>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\ApplePay</model>
                <title>Apple Pay</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_applepay>
            <emspay_methods_ideal>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Ideal</model>
                <title>iDeal</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_ideal>
            <emspay_methods_bancontact>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Bancontact</model>
                <title>Bancontact</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_bancontact>
            <emspay_methods_klarnadirect>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\KlarnaDirect</model>
                <title>Klarna Direct</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_klarnadirect>
            <emspay_methods_paypal>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Paypal</model>
                <title>Paypal</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_paypal>
            <emspay_methods_amex>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Amex</model>
                <title>American Express</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_amex>
            <emspay_methods_klarna>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Klarna</model>
                <title>Klarna</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_klarna>
            <emspay_methods_payconiq>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Payconiq</model>
                <title>Payconiq</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_payconiq>
            <emspay_methods_tikkie>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Tikkie</model>
                <title>Tikkie</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_tikkie>
            <emspay_methods_afterpay>
                <active>1</active>
                <model>EMSPay\Payment\Model\Methods\Afterpay</model>
                <title>Afterpay</title>
                <description>Your order %id% at %name%</description>
                <order_status_pending>pending_payment</order_status_pending>
                <generate_invoice>1</generate_invoice>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </emspay_methods_afterpay>
        </payment>
    </default>
</config>
