<?xml version="1.0"?>
<!--
  ~ All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="ginger_capture_after_shipment" instance="GingerPay\Payment\Observer\SalesOrderShipmentAfter"/>
    </event>
</config>
