/*
 * All rights reserved.
 * See COPYING.txt for license details.
 */

.gingerpay-payment-instuctions {
    border: 1px dotted cornsilk;
    padding: 5px;
    margin-bottom: 10px;
}

.ginger-thank-you-message {
    margin-bottom: 15px;
}
